In [2]:
import pandas as pd
import numpy as np

### Get all airports from flights data

In [138]:
df_flights_cleaned = pd.read_csv('flights_cleaned.csv', index_col=False)

In [139]:
# number of airports
df_unique_airports = pd.DataFrame(df_flights_cleaned.origin.unique(), columns=['airport'])
df_unique_airports

    airport
0       BUR
1       ORD
2       MSY
3       DFW
4       JFK
..      ...
367     HVN
368     PQI
369     SMX
370     ROP
371     GST

[372 rows x 1 columns]

In [140]:
df_unique_dest_airports = pd.DataFrame(df_flights_cleaned.dest.unique(), columns=['airport'])
df_unique_dest_airports

    airport
0       SFO
1       DFW
2       HOU
3       IND
4       IAD
..      ...
368     DLG
369     ROP
370     OGD
371     WYS
372     AKN

[373 rows x 1 columns]

In [141]:
df_airport_IATA = df_unique_airports.merge(df_unique_dest_airports, how="outer")
df_airport_IATA

    airport
0       BUR
1       ORD
2       MSY
3       DFW
4       JFK
..      ...
370     ROP
371     GST
372     IFP
373     DLG
374     AKN

[375 rows x 1 columns]

In [ ]:
# df_airport_IATA.to_csv("usa_airport_IATA.csv", index=False)

In [102]:
# # selecting rows based on condition 
# df_us_airports = airports[airports['iso_country'].isin(['US'])] 
# df_us_airports

In [101]:
# df_us_airports['type'].unique()

In [100]:
# airport_types = ['medium_airport', 'large_airport']

# # selecting rows based on condition 
# df_us_airports[df_us_airports['type'].isin(airport_types)]

In [118]:
airports = pd.read_csv('airports_all_info_data.csv')
df_usa_airports = airports[airports['iso_country'].isin(['US'])] 
df_usa_airports.shape

(23256, 12)

In [119]:
df_usa_airports['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [122]:
types = ['medium_airport', 'large_airport']

df_usa_airports = df_usa_airports[df_usa_airports['type'].isin(types)]

In [124]:
df_usa_airports.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [128]:
cols_to_drop = ['ident', 'gps_code', 'local_code', 'elevation_ft', 'continent']

df_usa_airports.drop(columns=cols_to_drop, inplace=True)

In [132]:
# creating longitude and latitude columns by string splitting coordinates column
df_usa_airports[['Longitude', 'Latitude']] = df_usa_airports.coordinates.str.split(", ", expand = True)
df_usa_airports

,type,name,iso_country,iso_region,municipality,iata_code,coordinates,Longitude,Latitude
6220,medium_airport,Aleknagik / New Airport,US,US-AK,Aleknagik,WKK,"-158.617996216, 59.2826004028",-158.617996216,59.2826004028
27220,medium_airport,South Alabama Regional At Bill Benton Field Ai...,US,US-AL,Andalusia/Opp,NaN,"-86.393799, 31.3088",-86.393799,31.3088
27399,medium_airport,Lehigh Valley International Airport,US,US-PA,Allentown,ABE,"-75.44080352783203, 40.652099609375",-75.44080352783203,40.652099609375
27400,medium_airport,Abilene Regional Airport,US,US-TX,Abilene,ABI,"-99.68190002440001, 32.4113006592",-99.68190002440001,32.4113006592
27401,large_airport,Albuquerque International Sunport,US,US-NM,Albuquerque,ABQ,"-106.609001, 35.040199",-106.609001,35.040199
...,...,...,...,...,...,...,...,...,...
40771,medium_airport,Point Lay LRRS Airport,US,US-AK,Point Lay,PIZ,"-163.0050049, 69.73290253",-163.0050049,69.73290253
50994,medium_airport,Jim's Private Airport,US,US-GA,Conyers,NaN,"-84.14440155, 33.59790039",-84.14440155,33.59790039
51162,medium_airport,Yuma Auxiliary Army Airfield 2,US,US-AZ,Yuma,NaN,"-114.511786, 32.547501",-114.511786,32.547501
51479,medium_airport,Williston Basin International Airport,US,US-ND,Williston,XWA,"-103.748797, 48.258387",-103.748797,48.258387
55049,medium_airport,Modi,US,US-CA,California,XXZ,"179.999894, 89.999845",179.999894,89.999845

In [135]:
df_usa_airports.drop(columns=['coordinates'], inplace=True)

In [136]:
df_usa_airports.to_csv('airports_usa_info_data.csv', index=False)

In [ ]:
# Use the bottom to check if airports are in the list
# airports_IATA = pd.read_csv('airports_flights_IATA.csv')
# aports = airports_IATA['airport']

# for airport in aports:
#     print(airport in airports_v['iata_code'].values)